.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 20vh;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
}

.container {
    margin-top: 130px;
    background: whitesmoke;
    padding: 20px;
}

.the-list {
    background: white;
    width: 50%;
    height: 150px;
    margin: 15px auto;
    box-shadow: 2px 2px silver;
}

.name {
    padding: 20px 5px;
}

.dark-mode {
    background: darkslategray;
}