.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 20vh;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
}

.the-switch-button {
    width: 100px;
    height: 40px;
    border-radius: 25px;
    font-size: 1.1rem;
    background: rgb(240, 220, 195);
}

.container {
    margin-top: 170px;
    background: whitesmoke;
    padding: 20px;
}

.the-list {
    background: white;
    width: 50%;
    height: 200px;
    margin: 15px auto;
    box-shadow: 2px 2px silver;
}

.the-switch-button {
    margin: 10px;
}

.name {
    padding: 20px 5px;
}

.purple-mode {
    background: rgb(87, 12, 77);
    color: purple;
    font-size: 1.1rem;
}